//main container that has all contents
@import './main/main-container';

//splash pages styles
@import './main/splash';
@import './main/top-cities';
@import './main/splash_about';


//page styles
@import './main/listings-list';
@import './main/listing-page';


//nav bar component
@import './main/nav';


//image dropzone
@import './main/image-dropzone';


//signin page
@import './main/signIn';

//profile page
@import './main/profile-page';

//form-pages
@import './main/form-pages';

//compare-page
@import './main/compare-page';