
.droppedPics {
    height: 15%;
    width: 15%;

}

  .Dropzone {
    height: 20vh;
    width: 40vw;
    border: solid 1px;
    margin: 5vh 0 6vh 5vw;
    div{
      margin: 5vh 10vw 0 10vw;
      text-align: center;
    }

  } 
