.listing_page {
  width: 100vh;
  height: 95vh;
  margin: 0;
  position: relative;
  font-family: 'Libre Franklin', sans-serif;
  text-shadow: 0 .1vh .5vh #9F9FED
}
.listingMap {
  margin:0;
  margin-left: 1vw;
  width: 98vw;
  height: 20%;
  position: center;
}
.listingContainer{
  width: 100vw;
  .listingDetail{
    display: inline-block;
    top: 0px;
    width: 50vw;
    .listingInfo {
      display: inline-block;
      margin-left: 2vw;
        .walkScore div{
          display: inline-block;
        }

      .details {
        margin: 0;
        margin-right: 2vw;
        display: inline-block;
      }
    }
  }
  .listingPics {
    display: inline-block;
    width: 50vw;
    img{
      max-height: 50vh;
      width: 50vw
    }
  }
}
