.listingsPage {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('http://s7d4.scene7.com/is/image/roomandboard/hutton_706468_16e_g?$str_g$&size=1520,960&scl=1');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}
