.listing_page {
  width: 100vh;
  height: 95vh;
  margin: 0;
  font-family: 'Amaranth', sans-serif;

}

.listingMap {
  margin:0;
  margin-left: 1vw;
  width: 98vw;
  height: 20%;
  position: center;
}

.listingInfo {
  display: inline-block;
  margin-left: 2vw;
    .walkScore div{
      display: inline-block;

    }
  
  .details {
    margin: 0;
    margin-right: 2vw;
    display: inline-block;
  }
}

.listingPics {
  height: 100%;
  img{
    height: 100%;
    width: 100%
  }
}
