.navBar{
  width: 100%;
  font-family: 'Nova Mono', monospace;
   .renterCity {
      margin-left: 2vw;
   }

   .links {
    margin-right: 1%;
   }
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  right: 0;
}
