.profile_listings {
  .emailBox {
    z-index: 999;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    background-color: white;
    min-height: 22vh;
  }
}
.form-container {
  .row {
    margin: 0px;
    border: 1px solid;
    * {
      font-size: 20px;
    }
  }
}