
.rentList { 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url('https://media.glassdoor.com/o/a1/64/30/3e/rh-the-gallery-at-the-historic-post-office.jpg');
  background-repeat: no-repeat;


}

