.sign-in, .sign-up {
  background-color: white;
  background-image: url('http://manual17.biz/wp-content/uploads/2016/04/34-amazing-modern-master-bedroom-designs-for-your-home-inside-amazing-master-bedroom-for-cozy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-top: 1.5vh;
  position: relative;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 10px;
  width: 98vw;
  height: 95vh;
  left: 0;
  top: 0;

  .sign-in-focus, .sign-up-focus {
    position: relative;
    border-radius: 3px;
    height: 320px;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    h1 {
      margin-top: 5%;
      margin-left: 32%;
      top: 50px;
      z-index: 10;
      position: absolute;
      color: white;
      font-size: 7vh;
      font-family: 'Quicksand', sans-serif;
      margin-bottom: 3vh;
      width: 22vw;
    }

    .sign-in-form, .sign-up-form {
      top: 50px;
      z-index: 10;
      margin-top: 25%;
      margin-left: 33%;
      padding-bottom: 10vh;
      position: absolute;
      text-align: center;
      input {
        width: 20vw;
        margin-top: 3vh;
        border: none;
        border-radius: 3px;
        font-family: 'Muli', sans-serif;
      }

      .sign-in-input-submit, .sign-up-input-submit {
        color: white;
        background-color: #73628A;
        width: 15vw;
        border: none;
        border-radius: 3px;
        font-family: 'Muli', sans-serif;
        &:hover {
          background-color: #39499e;
        }
      }
    }

    .opacBG {
      position: absolute;
      z-index: 1;
      background-color: black;
      opacity: 0.6;
      height: 320px;
      width: 60vw;
      top: 50px;
    }
  }
  /* Unique to sign-up, should modularize it later*/
  .sign-up-focus {
    height: 360px;
    .sign-up-form {
      top: 30px;
      width: 50%;
      margin-top: 20%;
      margin-left: 25%;
      margin-right: 25%;
      padding-bottom: 10vh;
      position: absolute;
      text-align: left;
      color: white;
      p {
        font-family: 'Muli', sans-serif;
        margin-bottom: 0px;
        width: 100%;
        margin-top: 10px;

        input, select{
          margin-top: 0px;
          color: black;
          width: 15vw;
          font-family: 'Muli', sans-serif;
          float: right;
        }
      }

      .sign-up-input-submit {
        float: right;
      }
    }

    .opacBG {
      position: absolute;
      z-index: 1;
      background-color: black;
      opacity: 0.6;
      height: 360px;
      width: 60vw;
      top: 50px;
    }
  }
}
