.splashAbout { 

  .aboutCan {
    border: solid 1px;
    height: 15vh;
    width : 60vw;
    display: inline-block;
    margin: 4vh 0vw 3vh 6vw;
  }

  .greatSearch {
    border: solid 1px;
    height: 20vh;
    width : 20vw;
    display: inline-block;
    margin: 2vh 3vw 0vh 3vw;


  }
  .simpleApp {
    border: solid 1px;
    height: 20vh;
    width : 20vw;
    display: inline-block;
    margin: 4vh 10vw 0vh 6vw;

  }
  .simpleCompare {
    border: solid 1px;
    height: 20vh;
    width : 20vw;
    display: inline-block;
    margin: 0vh 5vw 8vh 0vw;

  }
  .simpleList {
    border: solid 1px;
    height: 20vh;
    width : 20vw;
    display: inline-block;
    margin: 10vh 10vw 5vh 10vw;

  }
  .simpleContact {
    border: solid 1px;
    height: 20vh;
    width : 20vw;
    display: inline-block;
    margin: 3vh 0vw 5vh 20vw;

  }
}
