
body {  
   background-image: url('http://s7d4.scene7.com/is/image/roomandboard/hutton_706468_16e_g?$str_g$&size=1520,960&scl=1');
   background-size: 100%;
   background-repeat: no-repeat;
}

.main {
  height: 100%;
  width: 100%;
  h1 {
    font-size: 1em;
    color: red
  }

  form {
    position: absolute;
    height: 5em;
    width: 10em;
    left: 50%;
    top: 50%;
  }

  
}


