.splash-about {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 98vw;
  background-color: #8A9299;
  color: white;

  .splash-about-desc {
    font-family: 'Quicksand', sans-serif;
    padding: 0 15vw 0 15vw;
    font-size: 18px;
  }

  .splash-about-img {
    padding: 0 15vw 0 15vw;
  }
}
